# Server
API_SERVER_PORT=

# Filesystem
API_FILESYSTEM_FOLDER=

# JWT
JWT_SECRET_KEY=
JWT_ACCESS_TOKEN_NAME=
JWT_REFRESH_TOKEN_NAME=

# Postgres
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DATABASE_NAME=
POSTGRES_DATA_VOLUME=
POSTGRES_BACKUP_FOLDER=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DATA_VOLUME=

# Centrifugo
API_CENTRIFUGO_PORT=
API_CENTRIFUGO_DATA_VOLUME=
API_CENTRIFUGO_API_KEY=
API_CENTRIFUGO_ADMIN_PASSWORD=
API_CENTRIFUGO_ADMIN_SECRET=

# Grapahana
GRAFANA_PORT=
GRAFANA_VOLUME=

# OTP
#pyotp.random_base32() - to generate new key
OTP_KEY=

# Prometheus
PROMETHEUS_PORT=

# RABBIT
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASSWORD=

# other secrets to use as client
PATH_TO_SECRETS=

# Logger
LOGGER_LEVEL=INFO
LOGGER_FILE_PATH=./logs/logs.log
